<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">🛡️ CyberShield</div>

        <div class="nav-links">
            <a href="#analyzer">Analyzer</a>
            <a href="#generator">Generator</a>
            <a href="#hash">Hash</a>
        </div>
    </nav>

    <header>
        <h1>🛡️ CyberShield</h1>
        <p>Password Security Toolkit</p>
    </header>

    <main>

        <section class="card" id="analyzer">
            <h2>🔍 Password Analyzer</h2>
            <div class="password-input">
                <input type="password" id="password" placeholder="Enter Your Password">
                <button type="button" onClick="togglePassword()">👁️</button>
            </div>

            

            <button onclick="analyzePassword()">
                Analyze Password
            </button>

            <div id="result">
                <div class="strength-bar">
                    <div id="strength-fill"></div>
                </div>
            </div>
        </section>
        <section class="card" id="generator">
            <h2>🎲 Password Generator</h2>

            <input type="number" id="length" value="12" min="8">

            <button onclick="generatePassword()">
                Generate Password
            </button>

            <div id="generated"></div>

            <button id="copyBtn" onclick="copyPassword()" style="display: none;">
                📋 Copy Password
            </button>
        </section>
        <section class="card" id="hash">
            <h2>#️⃣ SHA-256 Hash Generator</h2>

            <input type="text" id="hashInput" placeholder="Enter text">

            <button onclick="generateHash()">
                Generate Hash
            </button>

            <div id="hashResult"></div>

            <button id="copyHashBtn" onclick="copyHash()" style="display: none;">
                📋 Copy Hash
            </button>
        </section>

    

    </main>

    <footer>
        <p>CyberShield • Cybersecurity Toolkit</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>